* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 280px;
  width: 300px;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  background: $white;
  font-weight: bold;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: $terceary-color;
  }
  .card-info {
    display: grid;
    text-align: left;
    label {
      margin: 3px;
      font-size: 0.9rem;
    }
  }
  button {
    width: 50%;
    height: auto;
    font-size: 1.2rem;
    margin: 10% 10% 0 10%;
    color: $primary-color;
    border: 2px solid $secundary-color;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: linear-gradient(45deg, $secundary-color, $secundary-color);
    background-size: 300% 300%;
    outline: none;
    transition: all 100ms ease-in-out;
    font-family: monospace;
    &:hover {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      transform: translateY(2px);
      cursor: pointer;
    }
    &:active {
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
      transform: translateY(4px);
    }
  }
  footer {
    display: flex;
    justify-content: end;
    align-items: center;
    color: $primary-color;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
    padding: 0 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    div {
      display: flex;
      p {
        font-size: 0.9rem;
        margin-right: 10px;
        padding-right: 10px;
      }
    }
  }
  .posts-counter {
    padding-right: 1.8rem;
  }
}
