*,
*:before,
*:after {
  box-sizing: inherit;
}

.tittle1 {
  margin-top: 1.5rem;
  font-size: 1.7rem;
}

.tittle2 {
  margin-bottom: 4px;
}

.profile-info {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  .data {
    display: grid;
    text-align: left;
    font-size: 1rem;
  }
}

body .posts {
  font-size: 1rem;
  color: $black;
  line-height: 1.5;
  display: grid;
  margin-top: 20px;
  margin: 10px;
  @include tablet-up {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
  }
}

.tittle-post {
  margin-top: 20px;
  padding: 20px;
  font-size: 1.5rem;
  border-top: 2px solid $terceary-color;
}
