$monospace: monospace;

$white: #d0d0d0;
$black: #1d1b1b;
$primary-color: #12265a;
$secundary-color: #82a8ec;
$terceary-color: rgb(50, 95, 116);
$cadet: #4f6d7aff;
$maximum-blue: rgba(94, 165, 184, 0.705);
$yellow: #ffc145;

$font-size-small: 0.875em;

$tablet-width: 768px;
$desktop-width: 1024px;
