.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $white;
  padding: 40px 0;
  gap: 20px;
  font-size: 14px;
  letter-spacing: 3px;
  margin: auto;
  margin-top: 40px;

  &-links {
    display: flex;
    gap: 20px;
  }

  &-link {
    background-color: $white;
    border-radius: 7.5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
    }

    img {
      height: 30px;
      width: 30px;
    }
  }

  a span {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px 7px;
    visibility: hidden;
    width: 100px;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  a span:before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $white;
    position: absolute;
    bottom: -5px;
    left: 40px;
  }

  a:hover span {
    bottom: 50px;
    visibility: visible;
    opacity: 1;
    width: 100px;
    background-color: $white;
  }

  a.facebook:hover {
    background-color: #4183d7;
    color: #bfbfbf;
  }

  a.facebook span {
    color: #4183d7;
  }

  a.twitter:hover {
    background-color: #19b5fe;
    color: #fff;
  }

  a.twitter span {
    color: #19b5fe;
  }

  a.instagram:hover {
    background-color: #e96fff;
    color: #fff;
  }

  a.instagram span {
    color: #e96fff;
  }
}
